<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oracleMapper">
  <select id="getListHotel">
    SELECT * /*+ INDEX(TBL_HOTEL IDX_HOTEL) */
      FROM TBL_HOTEL
  </select>
  <select id="getListHotelAttach">
    SELECT *
      FROM TBL_HOTEL_ATTACH;
  </select>
